*{
    box-sizing: border-box;
   margin: 5px;
   
}
body{
    background-color:#1d1d1d ;
}
li::marker{
    font-size: medium;
    color:#96d2d4;
    
}
li{
    text-transform: uppercase;
    color: white;
}
.parent{
    margin-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    align-items:flex-start;
    height: 600px;
    width: 100%;
}
.parent .ch{
    height: 300px;
    width: calc(100% / 3 - 30px);
    border: 2px solid white;
    border-radius:10px ;
}
.parent .ch p{
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
}
.parent .ch:first-child{
    background-color: #ff9800;
    border: 0;
    
}
.parent .ch1{
    position: relative;
    
}
.parent .ch2 p{
color: white;
}
.parent .ch3 p{
    color: white;
}
.parent .ch1 .n{
    margin: 0;
    height: 75%;
    width: calc(100%);
    border: 3px solid #ff9800;
    border-radius:10px ;
    position: absolute;
    top: -10%;
    left: 5%;
    z-index: -1;
}
.parent .ch i{
    font-size: 90px;
    margin: 25px 0 0 25px;
    color: #fff;
}